*{
    margin:0;
    padding:0;
    color:#000;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight:bold;
}
.container{
    max-width:1100px;
    margin:0 auto;
}
header{
    padding:20px 0;
    background-image:linear-gradient(155deg,rgb(210 240 255),rgb(223 203 255));
    z-index:1;
}

header section{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo{
    flex:1;
}
.logo img{
    max-width:50px;
}
.navbar{
    flex:3;
    display:flex;
    justify-content: right;
}
.navbar .menu-items{
    display:flex;
    justify-content: right;
}
.navbar .menu-items li{
    list-style:none;
    padding:0 10px;
}
.navbar .menu-items li a{
    text-decoration: none;
    padding:5px 10px;
    position: relative;
    white-space: nowrap;;
}
.menu-items li a::after{
    content: "";
    background-color: #e9204f;
    height:2px;
    width:0;
    position: absolute;
    left:10px;
    bottom:0;
    transition: width .4s ease;
}
.menu-items li a:hover::after{
    width:30px;
}
.submenu{
    position: relative;
}
.sub-menu-items{
    position:absolute;
    left:20px;
    transition: padding-top .5s ease;
    visibility: hidden;
    z-index:2;
}

.sub-menu-items ul{
    background-color: #fff;
    border-radius: 5px;
    box-shadow:0 10px 19px 7px rgba(0, 0, 0, 0.075);
    padding:15px 10px;

}
.submenu > a::after{
    content:"\f067"!important;
    font: normal normal normal 13px/1 FontAwesome;
    position: relative!important;
    background:transparent!important;
    
}
.submenu:hover .sub-menu-items{
    padding-top:20px;
    visibility: visible;
}
.sub-menu-items li a{
    font-size:14px;
    color:rgb(99, 99, 99);
    display: block;
}

.header-icons{
    display:flex;
    margin-left:40px;
}
.header-icons li{
    list-style: none;
    margin:0 10px;
}
.header-icons a i{
    font-size:20px;
}
.menu-items li a:hover, .header-icons a i:hover{
    color:#e9204f;
}
